<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ArticuloAlta</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ArticuloAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticuloBaja</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ArticuloBaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticuloAll</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ArticuloAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticuloLikeDescripcion</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ArticuloLikeDescripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteAll</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ClienteAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteAlta</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ClienteAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteBaja</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ClienteBaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteLikeApellido</servlet-name>
        <servlet-class>ar.org.centro8.curso.java.aplicaciones.services.ClienteLikeApellido</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>ArticuloAlta</servlet-name>
        <url-pattern>/ArticuloAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticuloBaja</servlet-name>
        <url-pattern>/ArticuloBaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticuloAll</servlet-name>
        <url-pattern>/ArticuloAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticuloLikeDescripcion</servlet-name>
        <url-pattern>/ArticuloLikeDescripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteAll</servlet-name>
        <url-pattern>/ClienteAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteAlta</servlet-name>
        <url-pattern>/ClienteAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteBaja</servlet-name>
        <url-pattern>/ClienteBaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteLikeApellido</servlet-name>
        <url-pattern>/ClienteLikeApellido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>9</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>errorParamPage.html</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/notFound.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/notFound.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/notFound.html</location>
    </error-page>
</web-app>
